#dashboard
  #left_column
    #overview.list
      %h3 Overview
      .actions
        = link_to( collection_path( :logs ), 'View JBoss Logs' )
      .element
        %ul
          %li
            BackStage:
            %ul
              %li== Version: #{Backstage::BACKSTAGE_VERSION}      
          %li 
            TorqueBox:
            %ul
              - torquebox_version_info.each do |key, value|
                - unless value.blank?
                  %li== #{key}: #{value}

          - component_version_info.each do |name, data|
            %li
              == #{name}:
              %ul
                - data.each do |key, value|
                  - unless value.blank?
                    %li== #{key.humanize}: #{value}

    #cluster_properties.list
      %h3 HornetQ Cluster
      .element
        %ul
          - hornetq_cluster_info.each do |key, value|
            %li== #{key}: #{value}

    #caches.list
      %h3 Infinispan Caches
      .actions
        = link_to( collection_path( :caches ), 'View All Caches' )
      - Backstage::Cache.all.each do |cache|
        .element
          = link_to object_path( cache ), "#{cache.name}"

    #groups.list
      %h3 JGroups
      .actions
        = link_to( collection_path( :groups ), 'View All Groups' )
      - Backstage::Group.all.each do |group|
        .element
          = link_to object_path( group ), "#{group.cluster_name}"     
 
  #right_column
    #apps.list
      %h3 Apps
      .actions
        = link_to( collection_path( :apps ), 'View All Apps' )
      - Backstage::App.all.each do |app|
        .element
          = link_to object_path( app ), app.name

    #queues.list
      %h3 Queues
      .actions
        = link_to( collection_path( :queues ), 'View All Queues' )
      - Backstage::Queue.all.each do |queue|
        .element
          = link_to object_path( queue ), "#{queue.display_name} - #{queue.app_name}"

    #topics.list
      %h3 Topics
      .actions
        = link_to( collection_path( :topics ), 'View All Topics' )
      - Backstage::Topic.all.each do |topic|
        .element
          = link_to object_path( topic ), "#{topic.display_name} - #{topic.app_name}"

    #message_processors.list
      %h3 Message Processors
      .actions
        = link_to( collection_path( :message_processors ), 'View All Message Processors' )
      - Backstage::MessageProcessor.all.each do |message_processor|
        .element
          = link_to object_path( message_processor ), "#{message_processor.name} - #{message_processor.app_name}"

    #jobs.list
      %h3 Jobs
      .actions
        = link_to( collection_path( :jobs ), 'View All Jobs' )
      - Backstage::Job.all.each do |job|
        .element
          = link_to object_path( job ), "#{job.name} - #{job.app_name}"

    #services.list
      %h3 Services
      .actions
        = link_to( collection_path( :services ), 'View All Services' )
      - Backstage::Service.all.each do |service|
        .element
          = link_to object_path( service ), "#{service.name} - #{service.app_name}"

    #pools.list
      %h3 Runtime Pools
      .actions
        = link_to( collection_path( :pools ), 'View All Runtime Pools' )
      - Backstage::Pool.all.each do |pool|
        .element
          = link_to object_path( pool ), "#{pool.name} - #{pool.app_name}"

