!!!
%html
  %title TorqueBox::BackStage
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>url_for('/css/html5reset.css')}
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>url_for('/css/style.css')}
  %script{:type=>"text/javascript", :src=> url_for('/jquery.min.js')}
  %script{:type=>"text/javascript", :src=> url_for('/app.js')}
  %body{:class => class_for_body}
    #header
      %h1 TorqueBox::Backstage
      #navigation
        = link_to '/', 'Dashboard', :class => 'dashboard'
        = link_to collection_path( :apps ), 'Apps', :class => 'apps'
        = link_to collection_path( :queues ), 'Queues', :class => 'queues'
        = link_to collection_path( :topics ), 'Topics', :class => 'topics'
        = link_to collection_path( :message_processors ), 'Msg. Processors', :class => 'message_processors'
        = link_to collection_path( :jobs ), 'Jobs', :class => 'jobs'
        = link_to collection_path( :services ), 'Services', :class => 'services'
        = link_to collection_path( :pools ), 'Runtime Pools', :class => 'pools'
        = link_to collection_path( :caches ), 'Caches', :class => 'caches'
        = link_to collection_path( :groups ), 'JGroups', :class => 'groups'
    #content-wrapper
      #content
        = yield
    #footer
      %a{:href => 'https://github.com/torquebox/backstage'}<
        Backstage
      v#{Backstage::BACKSTAGE_VERSION} for 
      %a{:href => 'http://torquebox.org/'}<
        TorqueBox 
      v#{Backstage::TORQUEBOX_VERSION}
