!!!
%html
  %title TorqueBox::BackStage
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{url_for('/css/html5reset.css')}"}
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{url_for('/css/style.css')}"}
  %body{:class => class_for_body}
    #header
      %h1 TorqueBox::Backstage
      #navigation
        = link_to collection_path( :apps ), 'Apps', :class => 'apps'
        = link_to collection_path( :queues ), 'Queues', :class => 'queues'
        = link_to collection_path( :topics ), 'Topics', :class => 'topics'
        = link_to collection_path( :message_processors ), 'Msg. Processors', :class => 'message_processors'
        = link_to collection_path( :jobs ), 'Jobs', :class => 'jobs'
        = link_to collection_path( :services ), 'Services', :class => 'services'
        = link_to collection_path( :pools ), 'Runtime Pools', :class => 'pools'

        - if authenticated?
          = link_to '/logout', 'Logout'
    #content-wrapper
      - if flash_msg = flash[:notice]
        #flash
          = flash_msg
      #content
        = yield
    #footer
      %a{:href => 'https://github.com/torquebox/backstage'}<
        Backstage
      for 
      %a{:href => 'http://torquebox.org/'}
        TorqueBox
