#message_processors-index
  %table
    %tr
      %th Name 
      %th App
      %th Destination
      %th Selector
      %th Concurrency
    - @collection.each do |message_processor|
      %tr
        %td= link_to( object_path( message_processor ), message_processor.name )
        %td= message_processor.app
        %td= message_processor.destination_name
        %td= message_processor.message_selector
        %td= message_processor.concurrency

      
