#messages-index
  %h2 
    == #{simple_class_name( @object ).capitalize}: #{link_to( object_path( @object ), @object.name)} :: Messages
  %table
    %tr
      %th ID
      %th Delivery Count
      %th Text
    - @object.each do |message|
      %tr
        %td
          = message.jms_id 
        %td
          = message.delivery_count
        %td
          = truncate( message.text, 30 )
