#messages-show
  %h2 
    == #{simple_class_name( @destination ).capitalize}: #{link_to( object_path( @destination ), @destination.display_name)} :: Message: #{@object.jms_id}
  .actions

  %table.data-table
    = data_row( "ID", @object.jms_id )
    = data_row( "Delivery Count", @object.delivery_count )
    %tr.data-row
      %td.label
        Properties
      %td.value
        = haml :'messages/properties', :locals => { :message => @object }
    = data_row( "Content", @object.content )

  .controls
    = link_to collection_path( @destination, :messages ), '<< Back'

