#groups-show
  %h2 
    == JGroups: #{@object.cluster_name}

  %table.data-table
    - %w{ name received_messages received_bytes connected sent_messages sent_bytes view address timer_threads number_of_tasks_in_timer stats version }.each do |method|
      = data_row( method.humanize, @object.send( method ) )

  - @object.protocols.each do |protocol|
    %h3== Protocol: #{protocol.name}
    .protocol
      %table.data-table
        - protocol.attributes.each do |attr|
          = data_row( attr, protocol[attr] )
 
  .controls
    = link_to collection_path( :groups ), '<< Back'
