#destinations-index
  %table
    %tr
      %th Name
      %th App
      %th Status
      %th Messages
      %th Delivering
      %th Scheduled
      %th Added
      %th Consumers
      %th
    - @collection.each do |destination|
      %tr
        %td= link_to( object_path( destination ), destination.display_name )
        %td
          - if destination.app
            = link_to( object_path( destination.app ), destination.app_name )
          - else
            = destination.app_name
        %td.status{:class => destination.status.downcase}= destination.status
        %td= destination.message_count
        %td= destination.delivering_count
        %td= destination.scheduled_count
        %td= destination.messages_added
        %td= destination.consumer_count
        %td
          = link_to collection_path(destination, :messages), 'View Messages' unless destination.is_a?(Backstage::Topic)
          = destination.status == 'Running' ? action_button( destination, 'pause' ) : action_button( destination, 'resume' )

      
