#destinations-index
  %h2= @header
  
  %table
    %tr
      %th Name
      %th Messages
      %th Delivering
      %th Scheduled
      %th Added
      %th Consumers
    - @destinations.each do |destination|
      %tr
        %td= link_to( object_path( destination ), destination.name )
        %td= destination.message_count
        %td= destination.delivering_count
        %td= destination.scheduled_count
        %td= destination.messages_added
        %td= destination.consumer_count

      
