#destinations-show
  %h2 
    == #{simple_class_name( @object ).capitalize}: #{@object.display_name}
  .actions
    = link_to collection_path(@object, :messages), 'View Messages' unless @object.is_a?(Backstage::Topic)
    = @object.status == 'Running' ? action_button( @object, 'pause' ) : action_button( @object, 'resume' )
    = action_button( @object, 'clear' )
  %table.data-table
    = data_row( "Name", @object.display_name )
    = data_row( "JNDI Address", @object.jndi_name )
    = data_row( "Dead Letter Address", ::Backstage::Destination.display_name( @object.dead_letter_address ) )
    = data_row( "Expiry Address", ::Backstage::Destination.display_name( @object.expiry_address ) )
    = data_row( "App", @object.app_name )
    - %w{ status consumer_count message_count delivering_count scheduled_count messages_added }.each do |method|
      = data_row( method.humanize, @object.send( method ) )

  .controls
    = link_to collection_path( simple_class_name( @object ).pluralize ), '<< Back'

