#jobs-index
  %table
    %tr
      %th Name 
      %th App
      %th Ruby Class
      %th Status
      %th Schedule
      %th
    - @collection.each do |job|
      %tr
        %td= link_to( object_path( job ), job.name )
        %td
          - if job.app
            = link_to( object_path( job.app ), job.app_name )
          - else
            = job.app_name
        %td= job.ruby_class_name
        %td.status{:class => job.status.downcase}= job.status
        %td= job.cron_expression
        %td
          - job.available_actions.each do |action|
            = action_button( job, action )
