#services-index
  %table
    %tr
      %th Name 
      %th App
      %th Status
      %th
    - @collection.each do |service|
      %tr
        %td= link_to( object_path( service ), service.name )
        %td
          - if service.app
            = link_to( object_path( service.app ), service.app_name )
          - else
            = service.app_name
        %td.status{:class => service.status.downcase}= service.status
        %td
          = service.status == 'Started' ? action_button( service, 'stop' ) : action_button( service, 'start' )

      
